.page-wrapper .body-wrapper .container-fluid .myTasks {
    position: relative;
    max-width: 600px;
    border: none !important;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    grid-row: 1 / 5;
    grid-column: 2 / 3;
}



.page-wrapper .body-wrapper .container-fluid  .myTasks .tasksHead {
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.page-wrapper .body-wrapper .container-fluid  .myTasks .tasksHead h2 {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 18px;
    color: #000;
    font-size: 1.2em;
    cursor: pointer;
}

.page-wrapper .body-wrapper .container-fluid  .myTasks .tasksHead .tasksDots {
    position: relative;
    cursor: pointer;
}

.page-wrapper .body-wrapper .container-fluid  .myTasks .tasksHead .tasksDots span {
    color: #000;
    font-size: 1.8em;
    font-weight: 700;
}

.page-wrapper .body-wrapper .container-fluid  .myTasks .tasks {
    position: relative;
    width: 100%;
    height: 100%;
}

.page-wrapper .body-wrapper .container-fluid  .myTasks .tasks ul {
    position: relative;
    width: 100%;
    height: 100%;
}

.page-wrapper .body-wrapper .container-fluid  .myTasks .tasks ul li {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-wrapper .body-wrapper .container-fluid  .myTasks .tasks ul li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background: rgba(0, 0, 0, .1);
}

.page-wrapper .body-wrapper .container-fluid .myTasks .tasks ul li:last-child::before {
    width: 0;
}

.page-wrapper .body-wrapper .container-fluid .myTasks .tasks ul li .tasksIconName {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.page-wrapper .body-wrapper .container-fluid  .myTasks .tasks ul li .tasksIconName .tasksIcon {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.page-wrapper .body-wrapper .container-fluid  .myTasks .tasks ul li .tasksIconName .tasksIcon.done {
    color: #fff;
    background: #69bc72;
}

.page-wrapper .body-wrapper .container-fluid   .myTasks .tasks ul li .tasksIconName .tasksIcon.notDone {
    background: #fff;
    border: 3px solid #999;
}

.page-wrapper .body-wrapper .container-fluid   .myTasks .tasks ul li .tasksIconName .tasksName {
    position: relative;
    color: #000;
    cursor: pointer;
}

.page-wrapper .body-wrapper .container-fluid   .myTasks .tasks ul li .tasksIconName .tasksName.tasksLine {
    color: #999;
    cursor: not-allowed;
}

.page-wrapper .body-wrapper .container-fluid   .myTasks .tasks ul li .tasksIconName .tasksName.tasksLine::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1.5px;
    background: rgba(0, 0, 0, .3);
}

.page-wrapper .body-wrapper .container-fluid   .myTasks .tasks ul li .tasksStar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.page-wrapper .body-wrapper .container-fluid   .myTasks .tasks ul li .tasksStar.full {
    color: #f5c75f;
}

.page-wrapper .body-wrapper .container-fluid   .myTasks .tasks ul li .tasksStar.half {
    color: #f5c75f;
}


.container-fluid .projectCard {
    position: relative;
    max-width: 400px;
    width: 100%;
    height: 300px;
    border: none !important;
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    grid-row: 1 / 4;
    margin: 10px;
}

.container-fluid  .projectCard .projectTop {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-fluid  .projectCard .projectTop h2 {
    color: #000;
    font-size: 1.2em;
    line-height: 18px;
    cursor: pointer;
}

.container-fluid  .projectCard .projectTop h2:hover {
    color : #0D6EFD
}

.container-fluid  .projectCard .projectTop h2 span {
    color: #999;
    font-size: 0.8em;
}

.container-fluid  .projectCard .projectTop .projectDots {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* ตรวจสอบว่าไม่มีข้อความหรือ comment ที่ทำให้มีปัญหา */
.container-fluid .projectCard .projectTop .projectDots li {
    color: #000;
    font-size: 1.8em;
    font-weight: 700;
    text-decoration: none;
}

.container-fluid .projectCard .projectTop .projectDots li:hover {
    color: red;
}


.container-fluid .projectCard .projectTop .projectDots ul .dropdown-item {
    font-size: 1rem;
    font-weight: 400;
}



.container-fluid  .projectCard .projectProgress {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-fluid  .projectCard .projectProgress .process {
    position: relative;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.container-fluid  .projectCard .projectProgress .process h2 {
    color: #8389f9;
    white-space: nowrap;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.container-fluid  .projectCard .projectProgress .priority {
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
}

/* .container-fluid  .projectCard .projectProgress .priority::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 8px;
    height: 8px;
    transform: translate(-50%, -50%);
    background: #ff0000;
    border-radius: 50%;
    box-shadow: 0 0 2px #ff0000,
        0 0 5px #ff000077;
} */

.container-fluid  .projectCard .projectProgress .priority h2 {

    white-space: nowrap;
    font-size: 1em;
    font-weight: 500;
}

.container-fluid  .projectCard .task {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin: 10px 0;
}

.container-fluid  .projectCard .task h2 {
    color: #999;
    font-size: 1em;
}

.container-fluid  .projectCard .task h2 bold {
    color: #000;
}
.container-fluid  .projectCard .task .line {
    position: relative;
    width: 100%;
    height: 5px;
    background: rgba(0, 0, 0, .1);
    border-radius: 50px;
    z-index: -1;
    overflow: hidden;
}
.container-fluid  .projectCard .task .line::before {
    content: '';
    position: absolute;
    left: 0;
    width: calc(100% - 25%);
    height: 100%;
    background: #6577ff;
    z-index: 1;
    border-radius: 50px;
}

.container-fluid  .projectCard .due {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.container-fluid  .projectCard .due h2 {
    padding: 0px 10px;
    border: 2px solid #f5b5f5;
    border-radius: 5px;
    font-size: 1.1em;
    color: #f5b5f5;
}


.container-fluid  .projectCard.projectCard2 {
    grid-row: 4 / 7;
}

/* .container-fluid  .projectCard.projectCard2 .projectProgress .priority::before {
    background: #69bc72;
    box-shadow: 0 0 2px #69bc72,
        0 0 5px #69bc7277;
}
.container-fluid .projectCard.projectCard2 .projectProgress .priority h2 {
    color: #69bc72;
} */


.container-fluid  .projectCard.projectCard2 .task .line::before {
    background: #f5c75f;
}

.container-fluid  .projectCard.projectCard2 .messagesUser {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}


.container-fluid  .projectCard.projectCard2 .messagesUser .messagesUserImg {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.container-fluid  .projectCard.projectCard2 .messagesUser .messagesUserImg img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.container-fluid  .projectCard.projectCard2 .messagesUser h2 {
    position: relative;
    color: #000;
    cursor: pointer;
    font-size: 1.2em;
    line-height: 18px;
}

.container-fluid  .projectCard.projectCard2 .messagesUser h2 span {
    color: #999;
    font-size: 0.8em;
}